<img src="<%= photo %>" alt="<%= name %>"/>
<h1><%= name %><span><%= type %></span></h1>
<div><%= address %></div>
<dl>
    <dt>Tel:</dt>
    <dd><%= tel %></dd>
    <dt>Email:</dt>
    <dd><a href="mailto:<%= email %>"><%= email %></a></dd>
</dl>
<button class="btn btn-danger  delete">Delete</button>
<button class="btn btn-default edit">Edit</button>